.header {
    background-color: #4272B4;
    background-image: url('../images/recycle-back.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 8% 0%;
}

.footer {
    background-color: #FFFFFF;
    text-align: center;
}

.nav {
    text-align: right;
}

nav a {
    color: #96B1D5;
    text-decoration: none;
    padding: 5px 25px 5px 0px;
    font-size: 13px;
}

.column {
    float: left;
    padding: 10px;
}

#col1 {
    width: 42%;
    font-size: 40px;
    padding:  50px 50px 50px 150px;
}

#col2 {
    width: 16%;
}

#col3 {
    width: 42%;
}

#count {
    font-size: 120px;
    color: #62FDAB;
}

* {
    box-sizing: border-box;
}

.row {
    background-color: #4F7BBA;
    font-family: 'Open Sans', sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.img {
    display:block;
    margin:auto;
}

.center-txt {
    text-align: center;
    color: #FFFFFF;
    padding: 30px;
    margin: 0;
}

#top-txt {
    padding-top: 65px;
    font-size: 30px;
}

body { 
    padding: 0; 
    margin: 0; 
    font-family: 'Open Sans', sans-serif;
}

.user-info {
    text-align: center
}

.user-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #084D8C;
    font: inherit;
    color: #4272B4;
    border: 0px;
    border-radius: 0.3em;
    padding: 14px 25px 14px 25px;
    cursor: pointer;
}

.button {
    
    background-color: #FFFFFF;
    
    color: #4272B4;
    
}

.leaderboard {
    background-color: #084D8C;
    display:inline-block;
    width: 50px;
}

.district {
    background-color: #4272B4;
    color: #084D8C;
    display:inline-block;
    width: 90px;
}

.dist_count {
    color: #FFFFFF;
    display:inline-block;
    width: 90px;
}