.header {
    background-color: #4272B4;
    background-image: url('../images/recycle-back.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 8% 0%;
}

#logo {
    width: 45px;
    float: left;
}

.nav {
    text-align: right;
    padding: 25px;
}

nav a {
    color: #96B1D5;
    text-decoration: none;
    padding: 5px 25px 5px 0px;
    font-size: 13px;
}

.column {
    float: left;
    padding: 10px;
    height: 400px;
}

#col1 {
    width: 42%;
    font-size: 36px;
    padding:  50px 0px 50px 220px;
}

#col2 {
    width: 16%;
    margin: 60px 0 80px 0;
    height:350px;
    background: linear-gradient(to right, 
                transparent 0%, 
                transparent calc(50% - 0.81px), 
                #FFFFFF calc(50% - 0.8px), 
                #FFFFFF calc(50% + 0.8px), 
                transparent calc(50% + 0.81px), 
                transparent 100%); 
}

#col3 {
    width: 42%;
    padding-top: 50px;
}

#count {
    font-size: 120px;
    font-weight: bold;
    color: #62FDAB;
}

* {
    box-sizing: border-box;
}

.row {
    background-color: #4F7BBA;
    font-family: 'Open Sans', sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.img {
    display:block;
    margin:auto;
    width: 110px;
    padding-top: 100px;
}

.center-txt {
    text-align: center;
    color: #FFFFFF;
    padding: 30px;
    margin: 0;
}

#top-txt {
    padding-top: 65px;
    font-size: 30px;
}

body { 
    padding: 0; 
    margin: 0; 
    font-family: 'Open Sans', sans-serif;
}

.user-info {
    text-align: center
}

.user-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #084D8C;
    font: inherit;
    color: #4272B4;
    border: 0px;
    border-radius: 0.3em;
    padding: 16px 28px 16px 28px;
    cursor: pointer;
    margin: 3.5px;
    font-size: 20px;
}

.button {
    background-color: #FFFFFF;
    width: 200px;
    color: #4272B4;
    font-weight: 600;
}

#dist-sel { 
    background-image:url('../images/downarrow.png');
    background-repeat: no-repeat;
    background-position: 93% 50%; 
    padding-right: 45px;
}

#lb-txt {
    color: #FFFFFF;
    padding: 12px;
    font-size: 20px;
}

.pledges {
    padding: 2px 2px 2px 0;
}

.pledge {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 5px;
}

#p1 {
    padding-top: 10px; 
}

.pledge-bar {
    background-color: #084D8C;
    color: #084D8C;
    display:inline-block;
    width: 15px;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    margin-left: -5px;
}

.district {
    background-color: #4272B4;
    color: #084D8C;
    display:inline-block;
    width: 90px;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.dist_count {
    color: #96B1D5;
    display:inline-block;
    width: 90px;
}

.footer {
    background-color: #FFFFFF;
    text-align: center;
    color: #4272B4;
    font-size: 16px;
    font-weight: bold;
    padding: 30px;
}